#remove html file extension https://honeybuzzmedia.com/contact.html
# to https://honeybuzzmedia.com/contact/
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.html [NC, L]

